<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musinsa.MariadbMapper">
	<select id="selectLowestPriceList" resultType="CamelMap">
		SELECT
			brand,
			category,
			price
		FROM
			(SELECT
				brand,
				category,
				price,
				ROW_NUMBER() OVER (PARTITION BY category ORDER BY price) AS rn
			FROM
				product_info) t
		WHERE
			t.rn = 1
	</select>

	<select id="selectLowestBrand" resultType="CamelMap">
		SELECT
		    *
		FROM
			(SELECT
				brand,
				sum(price) AS total_price
			FROM
				product_info
			GROUP BY brand) t
		ORDER BY total_price
		LIMIT 1
	</select>

	<select id="selectCategoryHighestLowestPrice" parameterType="Map" resultType="CamelMap">
		SELECT
		    brand,
		    price
		FROM
		    product_info
		WHERE
		    category = #{category}
		ORDER BY price
		<if test="highest">
			DESC
		</if>
		LIMIT 1
	</select>

	<select id="selectAllList" resultType="CamelMap">
		SELECT
		    product_key,
			brand,
			category,
			price
		FROM
			product_info
	</select>

	<insert id="insertProduct" parameterType="Map">
		INSERT INTO product_info (
			brand,
			category,
			price
		)VALUES (
			#{brand},
			#{category},
			#{price}
		)
		<selectKey keyProperty="productKey" resultType="CamelMap" order="AFTER">
			SELECT LAST_INSERT_ID() as product_key
		</selectKey>
	</insert>

	<update id="updateProduct" parameterType="Map">
		UPDATE product_info
		SET product_key = #{productKey}
		<if test='brand != null and brand != "" '>
			, brand = #{brand}
		</if>
		<if test='category != null and category != "" '>
			, category = #{category}
		</if>
		<if test='price != null and price != "" '>
			, price = #{price}
		</if>
		WHERE product_key = #{productKey}
	</update>

	<delete id="deleteProduct" parameterType="Map">
		DELETE FROM product_info
		WHERE product_key = #{productKey}
	</delete>
</mapper>